rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null &&
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    function publicArticleCountersOnly() {
      let d = request.resource.data.diff(resource.data);
      return
        (d.affectedKeys().hasOnly(['views']) &&
          request.resource.data.views is int &&
          request.resource.data.views == resource.data.views + 1) ||
        (d.affectedKeys().hasOnly(['likes']) &&
          request.resource.data.likes is int &&
          (request.resource.data.likes == resource.data.likes + 1 ||
            request.resource.data.likes == resource.data.likes - 1));
    }

    match /articles/{id} {
      allow read: if true;
      allow create, delete: if isAdmin();
      allow update: if isAdmin() || publicArticleCountersOnly();
    }

    match /users/{uid} {
      allow read: if request.auth != null && request.auth.uid == uid;
      allow write: if false;
    }
  }
}
